<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta charset="UTF-8">
</head>
<body>
<!-- Aquí tu solución -->
<div class="container">
  <h1 style="margin-top: 80px">Instructor Answers</h1>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Technology</th>
        <th>Student</th>
        <th>Question</th>
        <th>Did you try google.com?</th>
        <th>Instructors Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sinatra</td>
        <td>Joshua</td>
        <td>Como puedo agregar layouts a una aplicación hecha en Sinatra?</td>
        <td>Si. Intente buscar lo siguiente => Layouts Sinatra. => Partials Sinatra</td>
        <td class="success">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>