<!DOCTYPE html>
<html>
<head>
  <title>Politica</title>
</head>
<body>
  <h1>Hola soy Joshua voy a trabajar en la seccion politica.</h1>
  <img src="https://i.ytimg.com/vi/HNkMaBRpuGo/maxresdefault.jpg">
</body>
</html>