<!DOCTYPE html>
<html>
<head>
  <title>Al dia con la Tecnologia</title>
  <style>
  html, body {
       text-align: center;
}
  </style>
</head>
<body>
  <header> Bienvenidos para estar "Al dia con la Tecnologia"</header>
  <nav> 
    <ul>
      <item> Lo que esta sucediendo </item>
      <item> Lo que sucedio esta semana </item>
      <item> Lo que no te puedes perder </item>
    </ul>
  </nav>
  <section>
    <h1> Lo que esta sucediendo </h1>
    <h3> Tesla esta años adelante en los vehiculos autonomos: Analisis</h3>
    <p> En el largo plazo Tesla es el fabricante de carros que esta mas cerca de lanzar una plataforma como Uber con carros autonomos. Este modelo permitiria rentarle un auto a un usuario que pueda hacer un recorrido y pagar parte de la cuota con la carga del carro.</p>
    <img src="https://raw.githubusercontent.com/leotangram/Students-Make-it-Real/tecnologia/secci%C3%B3n_tecnologia/images/TeslaCEO.jpg" alt = "Tesla CEO">
  </section>

</body>
</html>