<!DOCTYPE html>
<html>
<head>
  <title>MakeitNews!</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="app.css">
</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
      <a class="navbar-brand" href="/">MakeItNews!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Subjects -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subjects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/geek.html">Geek: Jairo</a></li>
            <li><a href="/pages/programacion.html">Programacion: Nicolas</a></li>
            <li><a href="/tecnologia">Tecnologia: David</a></li>
            <li><a href="musica">Musica: Leo</a></li>
            <li><a href="/pagse/deportes.html">Deportes: Jonathan</a></li>
            <li><a href="politica">Politica: Joshua</a></li>
            <li><a href="/pages/cocina.html">Cocina: Victor</a></li>
            <li><a href="/pages/medioambiente">Medio Ambiente: Angie</a></li>
            <li><a href="/pages/anime.html">Anime: Ferney</a></li>
            <li><a href="/mascotas">Mascotas: Juan</a></li>
          </ul>
        </li>
      </ul>
      <!-- Ask instructor form -->
      <form action="/questions" method="POST" class="navbar-form navbar-left">
         <div class="form-group">
          <input type="text" class="form-control" id="question" name="question" placeholder="type question...">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- Instructor Answers -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/answers">Instructor Answers</a></li>
        <li><a href="/musicapp">MusicApp!</a></li>
        <!-- Social App -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social App<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Students Profiles</a></li>
            <li><a href="#">Class Pictures</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
