<div class="container">

<div class ="jumbotron">
  <h1>Bienvenidos a MakeItNews!</h1>
  <p>Una Página hecha por los estudiantes de MakeItReal</p> 
  <a href="http://www.makeitreal.camp" target="_blank">www.makeitreal.camp</a>
</div>

<div class="row" style="display:flex; flex-wrap: wrap;">
  <div class="col-sm-6">
    <div class="thumbnail">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OaDhY_y8WTo" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <h3>En camino hacia hacer un blog con rails! Primero debemos hacerlo bien en Sinatra.</h3>
        <p>Noviembre 15 de 2017: Un día con el reto de crear asociaciones entre entries tags y entry_tags! Ya logramos las rutas de new y create ahora faltan edit and update! Ya casi podemos hacer la aplicación de blog como el creador de rails lo explica en el video de arriba?</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://icalendario.net/media/imprimir/2017/mensual/noviembre/calendario-noviembre-2017-turquesa.png">
      <div class="caption">
        <h3>Proximas fechas de estudio.</h3>
        <p>Noviembre 16: Nos acercamos a la siguiente reunion de estudiantes para hacer apps, estudiar, repasar conceptos aprendidos y desarrollar proyectos.</p>
        <a href="http://www.cuandoenelmundo.com/calendario/colombia/2017" target="_blank">http://www.cuandoenelmundo.com/calendario/colombia/2017</a>
      </div>
    </div>
  </div> 
</div>
</div>

