<div class="container">

<div class ="jumbotron">
  <h1>Greetings from the Make It Real Bogota Bootcamp Students!</h1>
  <p>We encourage you to get in contact with our bootcamp owners and instructors if you are wanting an engaging bootcamp experience in Bogota Colombia!</p> 
  <a href="http://www.makeitreal.camp" target="_blank">www.makeitreal.camp</a>
</div>

<div class="row" style="display:flex; flex-wrap: wrap;">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="https://www.dotnetrocks.com/Content/img/BG/DNR-OG.jpg">
      <div class="caption">
        <h3>What We Learned Recently</h3>
        <p>November 1st 2017: We talked about Database Models and Migrations! This was a fun homework assignment. We had to learn to use SQL so that we would later on understand what ORMs actually do.</p>
        <a href="https://www.codeschool.com/courses/try-sql" target="_blank">https://www.codeschool.com/courses/try-sql</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://helveticajessica.com/wp-content/uploads/2014/07/active-record-300x215.jpg">
      <div class="caption">
        <h3>Active Record (not records) Making us go crazy</h3>
        <p>November 3rd 2017: We learned about data associations. belongs_to and has_many. Difficult to wrap your head around these subjects. thankfully we have an entire weekend to study up on the subject!</p>
        <a href="http://guides.rubyonrails.org/active_record_basics.html" target="_blank">http://guides.rubyonrails.org/active_record_basics.html</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://cdn1.theodysseyonline.com/files/2015/12/05/635849090021477548-1354287193_Frank_Sinatra_2.jpg">
      <div class="caption">
        <h3>Sinatra! (wait Frank Sinatra or Ruby Sinatra?</h3>
        <p>November 7th 2017: Today we are learning about Sinatra the light Rack Stack for Ruby. How many applications with we make this weekend with Sinatra now that we understand it better? We will let you know!</p>
        <a href="http://www.sinatrarb.com/" target="_blank">http://www.sinatrarb.com</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://wyorock.com/Assets/image/7.jpg">
      <div class="caption">
        <h3>Onix makers create database of their favorite musical groups and recommended songs of each group.</h3>
        <p>November 9th 2017: To practice database skills the maker students will create a database of musical groups and recommended songs from each group. Spreadsheet Does Not = Database</p>
        <a href="https://www.pcmag.com/article2/0,2817,1435148,00.asp" target="_blank">https://www.pcmag.com/article2/0,2817,1435148,00.asp</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="http://viterbivoices.usc.edu/wp-content/uploads/2017/07/hackathon.jpg">
      <div class="caption">
        <h3>Onix Studython coming up</h3>
        <p>November 13th: Studython Almost ready for Hackathons?</p>
        <a href="https://medium.com/tfogo/hackathons-are-for-beginners-77a9c9c0e000" target="_blank">https://medium.com/tfogo/hackathons-are-for-beginners-77a9c9c0e000</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="https://codepen.io/urketadic/pen/oZRdRN/image/large.png">
      <div class="caption">
        <h3>Car Crud App!</h3>
        <p>November 14th: Students finished a cool proyect connecting owner models to car models.(Associations put to practice.) Following the RESTful conventions.</p>
        <a href="https://gist.github.com/alexpchin/09939db6f81d654af06b" target="_blank">https://gist.github.com/alexpchin/09939db6f81d654af06b</a>
      </div>
    </div>
  </div>  
</div>

</div>