<style type="text/css">
  .kitty {
    width: 1200px;
  }

  .purple {
    background: teal ;
    color:#000080 ;
  }

  .white {
    color: white;
  }

  /*step 5*/
  .winner {
    color:green;
  }

  .done {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .selected {
    color: green;
  }

</style>
<!-- step one -->
<div class="container">
<h1>Just follow my commands to see what js functionality I have added.</h1>
<p>Step 1: First of all click on the image the size should shrink down to 300 px.</p>
<img class="img-responsive" src="http://st.motortrend.com/uploads/sites/10/2016/09/2017-Mazda3-cockpit.jpg">

<br>
<br>

<!-- step two -->
<p>Step 2: Ok so now that you can see the image alot smaller you can see this step. I hope you like kittens! click on the image to make it huge!</p>
<br>
<br>
<br>
<br>
<br>

<img src="http://www.petfoodexpress.com/images/uploads/static_pages_upload_directory/foster-adopt-donate---save-a-kitten.png">
<br>
<br>
<br>
<br>
<br>

<!-- step three -->
<p>Step 3: wooooo huge cat! Click on the cat again to make it normal sized!</p>

<br>
<br>
<br>
<br>
<br>

<!-- step four -->
<p>Step 4: Click on this button to see the background of the entire page change from dull white to blue.</p>

<button>Blue Background</button>

<br>
<br>
<p>Wow wus that to ugly!? Click on the button again to return to a normal state.</p>

<br>
<br>
<br>
<br>
<br>

<!-- step five -->
<p>Step 5: Play rock paper siscors with a friend. Define a playing to score and enter it in the input. keep track of the score.</p>
<h1><span id="p1Display">0</span> to <span id="p2Display">0</span></h1>
<p>Playing to: <span>5</span></p>
<input type="number">
<button id="p1">Player One</button>
<button id="p2">Player Two</button>
<button id="reset">Reseset</button>

<br>
<br>
<br>
<br>
<br>

<p>Step 6: Cross off the pets you don't like.</p>
<ul>
  <li class="cat">Dog</li>
  <li class="cat">Cat</li>
  <li class="cat">Parrot</li>
  <li class="cat">Monkey</li>
  <li class="cat">Hamster</li>
  <li class="cat">Rat</li>
</ul>



<br>
<br>
<br>
<br>
<br>

<!-- game over -->
<img src="https://thumb1.shutterstock.com/display_pic_with_logo/2956849/292410146/stock-vector-game-over-comic-book-cartoon-expression-isolated-on-white-background-292410146.jpg">
<br>
<p>Great You Now know about some of the JS functionality I added. More is coming! Come back soon.</p>


















<script type="text/javascript" src="/js/application.js"></script>

