<style type="text/css">
  .kitty {
    width: 1200px;
  }
</style>


<div class="container">
<h1>Just follow my commands to see what js functionality I have added.</h1>
<p>Step 1: First of all click on the image the size should shrink down to 300 px.</p>
<img class="img-responsive" src="http://st.motortrend.com/uploads/sites/10/2016/09/2017-Mazda3-cockpit.jpg">
<br>
<p>Step 2: Ok so now that you can see the image alot smaller you can see this step. I hope you like kittens! click on the image to make it huge!</p>
<br>
<br>
<br>
<br>
<br>

<img src="http://www.petfoodexpress.com/images/uploads/static_pages_upload_directory/foster-adopt-donate---save-a-kitten.png">
<br>
<br>
<br>
<br>
<br>

<p>Step 3: wooooo huge cat! Click on the cat again to make it normal sized!</p>
<br>
<br>
<br>
<br>
<br>
<img src="https://thumb1.shutterstock.com/display_pic_with_logo/2956849/292410146/stock-vector-game-over-comic-book-cartoon-expression-isolated-on-white-background-292410146.jpg">
<br>
<p>Step 4: Great You Now know about some of the JS functionality I added. More is coming! Come back soon.</p>


















<script type="text/javascript" src="/js/application.js"></script>

