<div class="container" style="color: #FF4136;">

<div class="jumbotron">
<h1>Próximo Studython! Este Domingo 26 de Noviembre!</h1>
<p>Vamos a trabajar en el proyecto Orange Tree, y solucionar las dudas que tengamos entre todos.</p><img style="width:80px; margin-left: 450px;"  src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Descenso.png">
</div>

<div class="row">
  <div class="col-md-6" style="color: #0074D9">
    <h3>Ubicación: Carrera 17 # 102 - 41 Casa 3.</h3>
    <img style="width: 100%" src="shot.png">
  </div>
  <div class="col-md-6" style="color: #0074D9;">
    <h3>Presupuesto: $10.000 pizza dominos</h3>
    <img src="https://diginomica.com/wp-content/uploads/2017/05/dominos.jpg">
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="color: #0074D9;">
        <h3>Celular: 3002171693</h3>
        <h3>Fecha: Domingo 26 de Noviembre</h3>
        <h3>Horario: Sábado 10:00am - 9:00pm</h3>
  </div>
</div>
</div>
