<div class="container" style="color: teal;">

<div class="jumbotron">
<h1>Próximo Studython! Pendiente por definir.</h1>
<p>Proyectos por definir.</p><img style="width:80px; margin-left: 450px;"  src="https://vignette3.wikia.nocookie.net/monsterlegends/images/a/ac/Estrella_Celeste.png/revision/latest?cb=20160129161846&path-prefix=es">
</div>

<div class="row">
  <div class="col-md-6" style="color: navy">
    <h3>Ubicación: Carrera 17 # 102 - 41 Casa 3.</h3>
    <img style="width: 100%" src="shot.png">
  </div>
  <div class="col-md-6" style="color: navy">
    <h3>Presupuesto: $10.000 comida por definir.</h3>
    
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="color: navy">
        <h3>Celular: 3002171693</h3>
        <h3>Fecha: Domingo 10 de Diciembre</h3>
        <h3>Horario: 10:00am - 9:00pm</h3>
  </div>
</div>
</div>
